@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: calc(0.75em + 1vmin);
}
/* ============ Define Global =============*/

body {
    font-size: 100%;
}
p {
    font-size: 16px;
}

.container {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
a {
    text-decoration: none;
    color: #111;
}

/*================== Navbar======================== */
nav {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 80px;
    flex-wrap: wrap;
}
nav .logo {
    font-family: "Work Sans";
    display: flex;
    font-weight: 700;
    font-size: 21.952px;
}
nav .logo a {
    color: #2947a9;
}
nav .logo img {
    margin-right: 10px;
}
nav .logo span {
    font-style: italic;
    font-weight: 700;
    font-size: 21.952px;
    line-height: 26px;
    margin-right: 3px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li {
    margin: 0 10px;
}
nav ul li .contact {
    color: #f9995d;
}
nav ul li a {
    /* color: #f2f2f2; */
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
    color: #111;
    background: #fff;
}
nav .menu-btn i {
    color: #111;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
input[type="checkbox"] {
    display: none;
}
@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }
    #click:checked ~ .menu-btn i:before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #fff;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 14px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a {
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover {
        background: none;
    }
}

/* ===================Header-Content =================*/

.section-header #slideshow {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-image: url("./img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section-header .slide h1 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 52.6847px;
    line-height: 55px;
    color: #fff;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.section-header .slide .btn-primary {
    margin-top: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    border: none;
    background: #2947a9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.section-header .slide:nth-child(1) {
    background: rgba(34, 32, 32, 0.589);
}

.section-header .slide:nth-child(2) {
    background: rgba(36, 46, 49, 0.589);
}

.section-header .slide:nth-child(3) {
    background: rgba(34, 32, 32, 0.589);
}

.section-header .slide:nth-child(4) {
    background: rgba(44, 55, 58, 0.589);
}

@media (min-width: 920px) {
    .section-header .slide {
        float: left;
        height: 100vh;
        width: 1200px;
        padding-top: 200px;
        text-align: center;
    }

    .section-header .slide-wrapper {
        width: calc(1100px * 4);
        animation: slide 20s ease infinite;
        -webkit-animation: slide 20s ease infinite;
    }

    @keyframes slide {
        20% {
            margin-left: 0px;
        }

        40% {
            margin-left: calc(-1100px * 1);
        }

        60% {
            margin-left: calc(-1100px * 2);
        }

        80% {
            margin-left: calc(-1100px * 3);
        }
    }
}
@media (max-width: 920px) {
    .section-header .slide {
        float: left;
        height: 100vh;
        width: 800px;
        padding-top: 200px;
        text-align: center;
    }

    .section-header .slide h1 {
        font-size: 42.6847px;
    }
    .section-header .slide-wrapper {
        width: calc(800px * 4);
        animation: slide 20s ease infinite;
        -webkit-animation: slide 20s ease infinite;
    }

    @keyframes slide {
        20% {
            margin-left: 0px;
        }

        40% {
            margin-left: calc(-800px * 1);
        }

        60% {
            margin-left: calc(-800px * 2);
        }

        80% {
            margin-left: calc(-800px * 3);
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .section-header .slide {
        float: left;
        height: 100vh;
        width: 600px;
        padding-top: 200px;
        text-align: center;
    }
    .section-header .slide h1 {
        font-size: 40.6847px;
    }

    .section-header .slide-wrapper {
        width: calc(580px * 4);
        animation: slide 20s ease infinite;
        -webkit-animation: slide 20s ease infinite;
    }

    @keyframes slide {
        20% {
            margin-left: 0px;
        }

        40% {
            margin-left: calc(-580px * 1);
        }

        60% {
            margin-left: calc(-580px * 2);
        }

        80% {
            margin-left: calc(-580px * 3);
        }
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .section-header .slide {
        float: left;
        height: 100vh;
        width: 380px;
        padding-top: 200px;
        text-align: center;
    }
    .section-header .slide h1 {
        font-size: 32.6847px;
    }

    .section-header .slide-wrapper {
        width: calc(380px * 4);
        animation: slide 20s ease infinite;
        -webkit-animation: slide 20s ease infinite;
    }

    @keyframes slide {
        20% {
            margin-left: 0px;
        }

        40% {
            margin-left: calc(-380px * 1);
        }

        60% {
            margin-left: calc(-380px * 2);
        }

        80% {
            margin-left: calc(-380px * 3);
        }
    }
}

/* ============Section-reasons======================== */

.section-reasons {
    text-align: center;
    text-justify: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.section-reasons h1 {
    font-size: 34px;
}
.section-reasons h6 {
    margin-bottom: 10px;
    font-size: 18px;
}

.section-reasons i {
    font-size: 35px;
    margin-bottom: 15px;
    color: #f9995d;
}
.section-reasons .row {
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    margin-top: 40px;
}

.section-reasons .card {
    border: 0.2px solid rgba(221, 221, 221, 0.904);
    padding: 2rem 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 10px;
}

@media (min-width: 600px) {
    .section-reasons .row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .section-reasons .row {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ========================Section-About============================= */
.img-fluid {
    max-width: 100%;
    height: auto;
}
.section-about {
    margin-top: 10px;
    padding-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 50px;
}

.section-about .about_us {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.section-about .content {
    background-color: #2947a9;
    color: white;
    float: right;
    width: 100%;
    color: white;
    padding: 1rem;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.section-about .btn {
    margin-top: 20px;
    background: white;
    color: #2947a9;
    border: none;
    padding: 8px 16px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
}

.section-about .btn:hover {
    font-weight: bold;
}

@media (min-width: 920px) {
    .section-about .about_us {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .section-about {
        margin-bottom: 8px;
        padding-bottom: 25px;
    }
}
@media (max-width: 670px) {
    .section-about .about_us {
        width: 100%;
    }
    .section-about p {
        font-size: 16px;
    }
    .section-about {
        margin-bottom: 5px;
        padding-bottom: 10px;
    }
}

/* ===============Section-services ================== */
.section-services {
    margin: 25px 0;
}

.section-services .heading h2 {
    text-align: center;
    font-size: 34px;
}
.section-services .services-card {
    margin-left: 17%;
}

.section-services .box:hover {
    opacity: 1;
}
.section-services .box img {
    width: 15%;
    display: block;
    margin: 15% auto 10% auto;
}
.section-services .box p {
    text-align: center;
    font-weight: normal;
    margin-bottom: 15%;
}

.section-services .services-card {
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    margin-top: 40px;
}

.section-services .box {
    color: white;
    background-color: #2947a9;
    border: 0.2px solid rgba(221, 221, 221, 0.904);
    padding: 1rem 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 10px;
}
.section-services .construction,
.section-services .consultation,
.section-services .architecture {
    background-color: #fff;
    color: black;
}

/* untuk tablet */

@media (min-width: 600px) {
    .section-services .services-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .section-services .services-card {
        grid-template-columns: repeat(3, 1fr);
    }
}
